@charset "UTF-8";

/*列表抬头*/
.list_title {
  background: #dfdfdf;
  position: relative;
  padding: 0 20px;
  font: 14px/40px "Microsoft YaHei";
  height: 40px;
}

.tit_col {
  color: #e74c3c;
}

.list_title.list_tit {
  width: 930px;
  margin-left: -10px;
  position: relative;
}

.btn_sq {
  width: 92px;
  width: 92px;
  cursor: pointer;
  height: 24px;
  background: url(../../images/iconDetail.png) no-repeat -170px -421px;
  position: absolute;
  right: 11px;
  top: 8px;
}

.btn_xs {
  width: 92px;
  cursor: pointer;
  height: 24px;
  position: absolute;
  right: 11px;
  top: 8px;
  background: url(../../images/iconDetail.png) no-repeat -170px -473px;
}

.btn_xs:hover {
  background: url(../../images/iconDetail.png) no-repeat -170px -447px;
}

.list_title_need {
  height: 40px;
  overflow: hidden;
  padding: 0;

}

.list_title_line {
  width: 947px;
  height: 39px;
  float: left;
  border-bottom: 1px solid #e74c3c;

}

.list_title_need a {
  width: 120px;
  height: 35px;
  float: left;
  line-height: 35px;
  text-align: center;
  border: 1px solid #dfdfdf;
  border-top: 4px solid #dfdfdf;
  border-bottom: 1px solid #e74c3c;
  background: #dfdfdf;
  font-size: 16px;
  font-family: "Microsoft YaHei";
}

.list_title_need a.current {
  border: 1px solid #e74c3c;
  border-top: 4px solid #e74c3c;
  border-bottom: 1px solid #fff;
  background: #fff;
  position: relative;
  color: #e74c3c;

}

.list_title_need .list_title_need_r {
  margin-left: -1px;
}

.list_top {
  border-bottom: 1px solid #eee;
  padding: 0 0 5px;
  font-family: "Microsoft YaHei";
  overflow: hidden;
}

.list_top.list_spac {
  background: #f5f5f5;
}
.search_top {
  background: #efefef;
  overflow: hidden;
  margin:0px 0px 10px 0px;
}

.search_x {
  width: 500px;
  float: left;
  color: #535353;
  line-height: 42px;
  padding-left: 20px;
}

.search_x a {
  color: #535353;
}

/*筛选*/
.list_content_all {
  /*padding:10px;*/
  background: #fff;
}

.list_t_t {
  float: left;
  width: 60px;
  color: #999;
  padding: 10px 0 0;
  text-align: right;
}

.list_t_c {
  float: left;
  width: 945px;
  height: 34px;
  margin: 0px 0px 0px 5px;
}

.middle.list_content .list_t_cw {
  width: 750px;
}

div.list_t_cw {
  width: 950px;
}

div.pl10 {
  padding: 0 10px 50px 10px;
}

.list_t_c .list_t_a {
  float: left;
  height: 33px;
  font-family: "Microsoft YaHei";
}

.list_t_c .list_t_a a {
  display: block;
  color: #535353;
  width: 70px;
  margin: 10px 5px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  font-weight: normal;
}

.list_t_c .list_t_a a:hover {
  color: #e74c3c;
}

.list_t_c .list_t_a a.current {
  color: #e74c3c;
}

.list_t_c.list_t_auto {
  height: auto;
}

.list_t_c.list_d {
  height: auto;
}

.list_t_c.list_d em {
  width: 14px;
  height: 14px;
  background: url("../../images/icon.png") no-repeat -164px -48px;
  margin-right: 3px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
}

.list_t_c.list_d .selected {
  color: #e74c3c;
}

.list_t_c.list_d .selected em {
  width: 14px;
  height: 14px;
  background: url("../../images/icon.png") no-repeat -164px -69px;
  margin-right: 3px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
}

.list_t_c .list_btn {
  clear: both;
  text-align: center;
  padding: 10px 0 5px 0;
}

.list_t_c .list_btn a {
  width: 54px;
  height: 25px;
  background: url("../../images/btn.png") no-repeat 0 0;
  margin: 0 5px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
}

.list_t_c .list_btn a.list_confirm {
  background-position: 0 -143px;
}

.list_t_c .list_btn a.list_confirm.disabled {
  background-position: -121px -143px;
  cursor: default;
}

.list_t_c .list_btn a.list_cancel {
  background-position: -62px -143px;
}

.list_t_m {
  cursor: pointer;
  margin: 10px 0 0 10px;
  float: left;
  color: #535353;
}

.demand_info .list_t_m{
  float:none;
}

.list_t_m em {
  width: 22px;
  height: 22px;
  background: url("../../images/icon.png") no-repeat -78px -171px;
  margin-left: 8px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
}

.list_t_m em.more_up {
  background-position: -50px -171px;
}

.list_top .list_t_d {
  float: right;
  cursor: pointer;
  width: 51px;
  height: 22px;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  background: url("../../images/icon.png") no-repeat -114px -171px;
  margin-top: 10px;
}

.list_more {
  text-align: center;
  font-family: "Microsoft YaHei";
}

.list_more .list_m_more {
  color: #a7a7a7;
  padding: 6px 25px;
  border: 1px solid #e9e9e9;
  border-top: 1px solid #fff;
  position: relative;
  z-index: 2;
  /*z-index:5;*/
  top: -1px;
  cursor: pointer;
  /*border-radius: 0 0 6px 6px;*/
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
}

.list_more .list_m_more em {
  width: 7px;
  height: 7px;
  background: url("../../images/icon.png") no-repeat -97px -104px;
  margin-left: 8px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  /*  vertical-align: middle;*/
}

.list_more .list_m_more em.up {
  background-position: -97px -121px;
}

.list_tag {
  border-top: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
  padding: 8px 0;
  width: 1150px;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
}

.list_tag.list_tage {
  width: 950px;
}

.list_tag.list_tage_detil {
  width: 100%;
}

.list_tag a {
  display: inline-block;
  border: 1px solid #c9c9c9;
  padding: 0 0 0 5px;
  line-height: 23px;
  height: 23px;
  margin: 5px 10px 0 0;
  color: #535353;
  cursor: pointer;
}

.list_tag a:hover {
  border: 1px solid #e74c3c;
}

.list_tag a p {
  float: left;
}

.list_tag a span {
  color: #e74c3c;
}

.list_tag a em {
  width: 10px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  background: url("../../images/icon.png") no-repeat -164px -141px;
  margin: -2px 5px 0 10px;
}

.list_tag a:hover em {
  width: 23px;
  height: 23px;
  background: url("../../images/icon.png") no-repeat -99px -377px;
  margin: -2px 0 0 2px;
  *margin-top: 0;
}

/*排序*/
.sort {
  height: 41px;
  padding: 0px;
  line-height: 41px;
  border: 1px solid #f2f2f2;
  background-color: #f9f9f9;
}

.sort_all {
  background: #fff;
  padding: 10px;
}

.sort a {
  float: left;
  border: 0px;
  padding: 0px 20px;
  border-right: 1px solid #ececec;
  position: relative;
  height: 100%;
  margin: 0px 0px 0px 0px;
}

.sort a.price em {
  width: 9px;
  height: 5px;
  background: url(../../images/iconDetail.png) no-repeat -423px 0;
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
  margin-top: 2px;
}

.sort a.price.current em {
  background-position: -423px -10px;
}

.price_des {
  width: 126px;
  overflow: hidden;
  border: 1px solid #c9c9c9;
  position: absolute;
  top: 31px;
  left: 135px;
  background: #fff;
  display: none;
  z-index: 10;
}

.price_des ul li {
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.price_des ul li a {
  border: 0;
  color: #535353;
}

.price_des ul li a.cur {
  color: #e74c3c;
}

.price_des ul li a:hover {
  color: #e74c3c;
}

.sort a.last {
}

.sort a.current {
  background: #e74c3c;
  color: #fff;
}

.sort a.current.last {
}

.sort .list_search {
  padding-left: 55px;
  float: left;
  color: #535353;
  font-family: "Microsoft YaHei";
}

.sort .list_search .list_search_i {
  width: 60px;
  padding: 0 5px;
  text-align: center;
  height: 26px;
  line-height: 26px;
  border: 1px solid #c9c9c9;
  vertical-align: middle;
}

.sort .list_search .pricerange {
  float: left;
  height: 28px;
  line-height: 28px;
  display: inline;
  margin: 6px 0px;
}

.sort .list_search .list_search_b {
  background: #e74c3c;
  cursor: pointer;
  border: none;
  height: 28px;
  line-height: 28px;
  padding: 0 15px;
  vertical-align: middle;
  color: #fff;
}

.list_search span {
  font-size: 14px;
  color: #b7b7b7;
  margin-right: 5px;
  display: inline-block;
  *display: inline;
  zoom: 1;
}

/*搜索无商品*/
.search-no {
  text-align: center;
  font: 24px/30px "Microsoft YaHei";
  color: #666;
  padding: 100px 0 100px;
}

.search-no .nothing {
  display: block;
  margin: 0 auto 30px;
  width: 156px;
  height: 173px;
  background: url('../../images/clothTyp.png') no-repeat -214px -187px;
}

.search-no .keyword {
  color: #e74c3c;
}

.search-no .search-tip {
  color: #000;
  font-size: 12px;
  line-height: 15px
}

/* 商品列表页-带左侧搜索页 */
.m_ns {
  width: 950px;
  /*  background: #f8f8f8;*/
  border-left: 20px solid #efefef;
  margin-top: 0;
}

.m_ns.m_nl {
  border-left: none;
}

.l_classify {
  padding: 1px;
  background: #fff;
}

.l_classify h2, .l_classify h3 {
  width: 178px;
  height: 30px;
  background: #eaeaea;
  line-height: 30px;
  color: #535353;
  font-family: "Microsoft YaHei";
  font-size: 16px;
  display: inline-block;
  padding-left: 20px;
}

.l_classify li .l_classify_title {
  background: #f7f7f7;
  margin-top: 1px;
  color: #7a7a7a;
  font-size: 14px;
  cursor: pointer;
  font-weight: normal;
  font-family: "Microsoft YaHei";
}

.l_classify li .l_classify_title a:hover {
  color: #e74c3c;
}

.l_classify li .l_classify_title.current a {
  color: #e74c3c;
}

.l_classify li .l_classify_title span {
  color: #e74c3c;
  font-size: 12px;
}

.l_classify li .l_classify_title em {
  width: 16px;
  height: 16px;
  background: url(../../images/iconDetail.png) no-repeat -75px -10px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 6px;
}

.l_classify li .l_classify_title em.cur {
  background-position: -102px -10px;
}

.l_classify_des {
  padding-left: 45px;
  display: none;
}

.l_classify_des_two {
  display: block;
}

.l_classify_des li {
  line-height: 23px;
}

.l_classify_des li a {
  color: #858585;
  font-size: 12px;
  font-family: "Microsoft YaHei";
  font-weight: normal;
}

.l_classify_des li a:hover {
  color: #e74c3c;
}

.l_classify_des li a.current {
  color: #e74c3c;
}

.list_content {
  background: white;
}

/* 需求列表Java */
.need_list_in {
  width: 100%;
}

.need_list {
  width: 1190px;
  margin: 0 auto;
}

.need_list_nav a {
  font-size: 14px;
  color: #3b3b3b;
}

.need_list_nav {
  display: inline-block;
  margin: 12px 0 12px 5px;
}

.need_list_nav a:hover {
  color: #e74c3c;
}

.need_list_title {
  width: 100%;
  height: 35px;
  line-height: 35px;
}

.need_list_title li {
  float: left;
  width: 85px;
  height: 100%;
  text-align: center;
  line-height: 35px;
}

.need_list_title li.current {
  background: #fff;
}

.need_list_title li.current a {
  color: #e74c3c;
  font-weight: normal;
}

.need_list_title li a {
  width: 100%;
  height: 100%;
  display: block;
  color: #767676;
  font-size: 14px;
  font-weight: normal;
}

.need_list_title_r a {
  color: #e74c3c;
  font-size: 14px;
}

.need_list_title_r a em {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 0 0;
  width: 18px;
  height: 18px;
  background: url(../../images/clothTyp.png) no-repeat -178px -74px;
}

.need_list_body {
  width: 1160px;
  background: #fff;
  padding: 15px;
  padding-bottom: 30px;
}

.need_list_body_t {
  overflow: hidden;
}

.need_list_body_t_r {
  float: right;
  color: #3d3d3d;
  font-size: 14px;
}

.need_list_body_t_l li {
  float: left;
  width: 76px;
  height: 28px;
  border: 1px solid #c9c9c9;
  text-align: center;
  line-height: 28px;
  color: #535353;
  font-size: 12px;
  cursor: pointer;
  font-weight: normal;
  position: relative;
}

.need_list_body_t_l li a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.need_list_body_t_l li.current {
  background: #e74c3c;
  color: #fff;
  border: 1px solid #e74c3c;
}

.need_list_body_t_l li.current i {
  background-position: -423px -10px
}

.need_list_body_t_l li i {
  display: inline-block;
  vertical-align: middle;
  margin: 0 -5px 0 3px;
  width: 9px;
  height: 5px;
  background: url(../../images/iconDetail.png) no-repeat -423px 0;
}

.need_list_body_t_r span {
  color: #e74c3c;
}

.need_list_des {
  margin-bottom: 60px;
}

.need_list_des li {
  position: relative;
  float: left;
  width: 202px;
  /*height: 255px;*/
  border: 1px solid #e1e1e1;
  margin-right: 15px;
  margin-top: 15px;
  padding: 10px 8px;
}

.found_icon {
  position: absolute;
  width: 43px;
  height: 43px;
  bottom: 3px;
  right: 3px;
  background: url(../../images/icon.png) no-repeat 0 -440px;
}

.need_list_des li.last {
  margin-right: 0;
}

.need_list_txt {
  padding-left: 5px;
  height: 45px;
}

.need_list_txt a {
  font-size: 14px;
  color: #3b3b3b;
  font-weight: normal;
  width: 100%;
  height: 100%;
  display: block;
  word-break: break-all;
  word-wrap: break-word;
  line-height: 21px;
  overflow: hidden;
}

.need_list_img .audio_btn.ss {
  background: url(../../images/sound.gif);
}

.audio_bg {
url(../../images/icon.png) no-repeat 0 - 405 px;
}

.need_list_txt a:hover {
  color: #e74c3c;
}

.need_list_video {
  width: 100%;
  height: 30px;
  margin: 2px 0 8px 0;
}

.need_list_img {
  position: relative;
  width: 218px;
  height: 218px;
  margin: -10px 0 0 -8px;
}

.need_list_img .demand_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #fff;
  opacity: 0;
  filter: alpha(opacity:0);

}

.need_list_img .audio_btn {
  position: absolute;
  bottom: 3px;
  left: 3px;
  width: 32px;
  height: 32px;
  background: url(../../images/icon.png) no-repeat 0 -405px;
  z-index: 3;
}

.need_list_img .audio_btn:hover {
  background: url(../../images/icon.png) no-repeat -37px -405px;
}

.need_list_img img {
  /*width: 100%;*/
  /*height: 100%;*/
  display: block;
  float: left;
  overflow: hidden;
  /*设置图片垂直居中*/
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.msie_7 .need_list_img img {
  position: static;
  float: none;
}

.need_list_img img.last {
  margin-right: 0;
  vertical-align: top;
}

.need_list_time {
  width: 100%;
  height: 65px;
  margin-top: 10px;
  /*border-top: 1px dashed #e1e1e1;
  border-bottom: 1px dashed #e1e1e1;
  padding:8px 0;*/
}

.need_list_time p {
  color: #afafaf;
  font-size: 12px;
  line-height: 20px;
  padding-left: 5px;
  font-weight: normal;
}

.need_list_time p span {
  color: #3b3b3b;
}

.need_list_time p span em {
  color: #e74c3c;
}

/*其他状态为默认的em，无需加类*/
/*已过期*/
.need_list_time p span em.expired {
  color: #afafaf;
}

/*未发布*/
.need_list_time p span em.no_publish {
  color: #3498db;
}

/*已找到*/
.need_list_time p span em.found {
  color: #22a000;
}

.need_list_tel {
  position: relative;
}

.need_list_tel p {
  color: #3b3b3b;
  line-height: 30px;
  padding-left: 5px;
  font-weight: normal;
}

/*edited by binguo.wang 2016/1/5/16/16 demand_home*/
.list_top_border {
  border-bottom: none;
}

.list_t_m_left {
  margin: 10px 0 0 230px;
}

.list_t_c_current .current a {
  color: #e74c3c;
}

.pro_list_cont .pro .main_con {
  width: 110px;
  font-size: 12px;
  color: #000;
  font-family: "Microsoft YaHei";
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
}

.shop_search.rank_shop_list {
  margin: 0px;
}

/*  商品列表样式*/
.item-list {
  overflow: hidden;
  width: 1190px;
  padding: 25px 0px;
}

.middle.item-list{
  width:980px;
}
.item-list .item {
  float: left;
  width: 222px;
  height:386px;
  margin: 0px 10px 20px 0px;
  border:1px solid #f1f1f1;
  transition:border .3s;
}
.middle.item-list .item{
  margin:0px 17px 20px 0px;
}
.item-list .item .item-pic {
  width: 222px;
  height: 222px;
  margin:0px 0px 10px 0px;
}
.item-list .item-info{
  padding:0px 10px;
  height:108px;
}
.item-list .price-list{
  border:0px;
  border-bottom:1px solid #f1f1f1;
  padding:0px 0px 5px 0px;
  margin:0px 0px 6px 0px;
  height:48px;
}
.item-list .item-price{
  margin:0px 0px 8px 0px;
}
.item-list .show-hover{
  display:none;
}
.item-list .item .item-info .shop a span.ellipsis{
  width: 180px;
  display: inline-block;
  *display:inline;
  zoom:1;
}
.item-list .item.item-hover{
  border:1px solid #e74c3c;
  -webkit-box-shadow: 3px 3px 3px #e6e6e6;
  -moz-box-shadow: 3px 3px 3px #e6e6e6;
  box-shadow: 3px 3px 3px #e6e6e6;
}
.item-list .item-hover .show-hover{
  display:block;
}
.item-list .item-hover .normal{
  display:none;
}
.item-list .item .price {
  font-size: 16px;
}
.item-list .item .negotiable {
  font-size: 11px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  color: #fff;
  padding: 1px 2px;
  margin: 0px 0px 0px 15px;
}
.item-list .item .des{
  height: 40px;
  margin: 8px 0px 8px 0px;
  color: #242424;
  line-height: 1.5;
  overflow: hidden;
  font-size: 14px;
}
.item-list .btns{
  border:0px;
  border-top:1px solid #f1f1f1;
  margin:6px 0px 0px 0px;
  overflow:hidden;
}
.item-list .btns .item-btn{
  width:57px;
  float:left;
  height:35px;
  line-height: 35px;
  display:block;
  cursor:pointer;
  padding:0px 0px 0px 54px;
  background-position:28px center;
  background-repeat: no-repeat;
  background-size:20px 20px;
}
.item-list .btns .btn-favorite{
  background-image: url(../../images/search/favorite.png);
}
.item-list .btns .btn-favorite.done{
  background-image: url(../../images/search/favorite_red.png);
}
.item-list .btns .btn-buy{
  width:56px;
  border-left:1px solid #f1f1f1;
  background-image: url(../../images/search/cart.png);
}
.item-list .rank_shop_list{
  text-align:left;
  margin:5px 0px 0px 2px;
}

.item-list .shop-city{
  float:left;
  width:90px;
  margin:10px 0px 0px 10px;
}
.item-list .shop-city .map{
  display:inline-block;
  *display:inline;
  zoom:1;
  width:18px;
  height:18px;
  margin:0px 5px;
  vertical-align:top;
  background-image:url(../../images/search/map.png);
}
.item-list .icon-certification{
  margin:0px 0px 0px -2px;
}
/*edited by lisa.huang 2016/8/5/4/ demand_home*/
.pro-height{
  height:257px;
}
.demand-list .recommended{
    background:url(../../images/demand/image_recommend.png) no-repeat;
    height: 80px;
    width: 80px;
    position: absolute;
    right: 0px;
    z-index:99;
}


.demand-home-list .search-prop .remove {
  display:none;
}

.demand-home-list .search-prop.current .prop-box{
  position: relative;
  height: 25px;
  border: 1px solid #ccc;
  margin-top: 6px;
  padding: 0px;
  line-height: 25px;
  margin: 6px 10px 0px 0px;
  padding-left: 5px;
}

.demand-home-list .search-prop.current .prop-box .prop-text{
  margin: 0px;
  padding: 0px 5px;
}

.demand-home-list .search-prop.current .remove{
  width: 10px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  background: url(../../images/icon.png) no-repeat -164px -141px;
  margin: -2px 5px 0 10px;
  cursor:pointer;
  position: absolute;
  right: 2px;
  top: 10px;
}