body{
    margin:0;
    padding:0;
    font:12px "Microsoft YaHei",arial,helvetica,sans-serif ;
    color: #666666;
    /*background: #F2F2F2;*/
}
h1,h2,h3,h4,h5,h6,li,ul,dt,dd,p{
    padding:0;
    margin:0;
    list-style:none;
    font-weight: normal;
}
a{
    color:#666666;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.lf{
    float:left;
}
.rt{
    float:right;
}
.clear:after{
    content:"";
    display: table;
    clear:both;

}
.overFlow{
    overflow: hidden;
}
/*整体尺寸*/
#nav,#top-main,#pic-news,#top-box,#search,#main,#footer{
    width:1190px;
    margin:0 auto;
    padding:0;
}
#top-main{
    height:345px
}
/*页面顶部top*/
#top{
    border-bottom:1px solid #E6E6E6;
    background: #FFFFFF;
    height:26px;
    line-height:26px ;
}
#top-box{
    width:1190px;
    margin:0 auto;
}
#top-box>ul>li{
    float:left;
    line-height: 26px;
    margin-right:20px
}
#top-box>ul>li>a:hover,div.phone>a:hover{
    text-decoration: underline;
    color:#e4393c;
}
#top-box img{
    float:left;
    margin-top:6px;
    margin-right:4px;
}
#top-box>div.phone>span{
    display: block;
    float:right;
    border:5px solid transparent;
    border-top-color: #dddddd;
    margin:10px 10px 0;
}
div.phone{
    padding-left:10px;
    position: relative;
    border-left:1px solid transparent;
    border-right:1px solid transparent;
    z-index: 50;
}
div.phone:hover{
    border-left-color: #dddddd;
    border-right-color: #dddddd;
}
div.phone>ul{
    position: absolute;
    left:-93px;
    top:26px;
    width:160px;
    background: #FFFFFF;
    border:1px solid #DDDDDD;
    border-top:none;
    display: none;
    padding:10px;
}
div.phone:hover ul{
    display:block;
}
div.phone ul li{
    position:relative;
    line-height: 50px;
    width:150px;
    height:50px;
}
div.phone ul li:first-child{
    border-bottom: 1px solid #DDDDDD;
}
div.phone ul li a span{
    position: absolute;
    bottom:-18px;
    right:15px;
}
/*主体部分开始*/
section{
    margin:150px auto;
    width: 1190px;
}
section>img{
    float: left;
}
section #login{
    float: right;
    width: 350px;
    height: 450px;
}
#login{
    padding:0 15px 0 5px;
    box-shadow: 4px 4px 4px #e8e8e8;
}
#login h1{
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
}
#autoLog{
    vertical-align: middle;
}
#login form>a{
    float: right;
}
#login ul{
    margin:40px 0 20px;
    font-size: 16px;
}
#login li{
    float: left;
    width: 175px;
    height: 40px;
    border-bottom: 2px solid #ddd;
    text-align: center;
}
#login .active{
    color: #e4393c;
    border-bottom:2px solid #e4393c;
}
#uname,#upwd{
    box-sizing: border-box;
    padding-left: 30px;
    font-size: 18px;
    width:350px;
    height: 40px;
    margin:30px 0 0;
    border-radius: 3px ;
    outline: none;
    border:1px solid #C1C1C1;
}
#upwd{
    margin-bottom: 20px;
}
#submit{
    width: 350px;
    height: 40px;
    background: #e4393c;
    border: 1px solid #e4393c;
    margin: 20px 0 20px;
    font-size: 20px;
    color: #fff;
    outline: none;
}
#inner{
    height:50px;
    color: #e4393c;
    font-size: 20px;
    display: none;
}
/*主体部分结束*/
/*底部*/
#footer{
    border-top:1px solid #e4393c;
    color:#535353;
}
#footer a{
    color:#535353;
}
#footer p{
    margin:16px;
}
#footer ul a{
    padding:0 16px;
    border-right: 1px solid #535353;
}
#footer ul li{
    float:left;
    margin:10px 0;
}
#footer ul{
    border-bottom:1px solid #E6E6E6;
    padding-bottom: 20px;
}
#footer p:last-child img{
    height:35px;
}
#footer p:last-child a{
    display: inline-block;
    margin-right: 10px;
}
/*固定部分*/
#fix{
    position: fixed;
    right:0;
    bottom:100px;
    width:40px;
    box-sizing: border-box;
    height:160px;
    background: #e4393c;
    padding:12px;
    font-size: 16px;
}
#fix a{
    color:#FFFFFF;
}